/*
Colors used:
Primary Color (Black): #2A2A2A;
Secondary Color (White): #FFFFFF;
Third Color (Blueish Gray): #A5ABAF;
Fourth Color (Soft Green): #E3E9C2;
Fifth Color (Soft Yellow): #F9FBB2;
*/

body {
    background-color: #ffffff;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: #2a2a2a;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 1.618em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.618em;
    font-weight: 500;
  }
  
  h3 {
    font-size: 1em;
    font-weight: 400;
  }
  h4 {
    font-size: 0.618em;
    font-weight: 400;
  }

div {
    color: #2a2a2a;
    font-size: 20px;
}

p {
    color: #2a2a2a;
    font-size: 20px;
}

img {
  width: 100%;
}